@model PagedList.IPagedList<PujcovnaKnih.Models.Book>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{ Layout = "~/Views/Shared/_UserLayoutPage.cshtml"; }

@{
    ViewBag.Title = "Přehled knih";
}

<h2>Přehled knih</h2>

@using (Html.BeginForm("Index", "Books", FormMethod.Get)){    
     <p> 
         Žánr: @Html.DropDownList("genre", "Vše")
         Autor: @Html.DropDownList("author", "Vše")
         Titul: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)         
         <input type="submit" value="Hledat" />
    </p> 
   } 


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Titul", "Index", new {sortOrder = ViewBag.TitleSortParm, currentFilter=ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Žánr", "Index", new { sortOrder = ViewBag.GenreSortParm, currentFilter=ViewBag.CurrentFilter})
        </th>
        <th>
            @Html.ActionLink("Autor", "Index", new { sortOrder = ViewBag.AuthorSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayName("Cena")
        </th>
        <th>
            @Html.DisplayName("Stav")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Genre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Author)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsAvailable)
    </td>
    <td>
        <input type="button" value="Podrobnosti" onclick="@("window.location.href='" + @Url.Action("Details", new { id=item.ID}) + "'");" />
    </td>
    <td>
        @if (item.IsAvailable.Equals("Volná")) 
        { 
            <input type="button" value="Půjčit si" onclick="@("window.location.href='" + @Url.Action("Create", "Orders", new { id=item.ID}) + "'");" />
        }
    </td>
</tr>
}

</table>
<br />
Stránka @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) ze @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
