@model PagedList.IPagedList<PujcovnaKnih.Models.Orders>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Půjčené knihy</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ID Objednávky")
        </th>
        <th>
            @Html.DisplayName("ID Zákazníka")
        </th>
        <th>
            @Html.DisplayName("ID Knihy")
        </th>
        <th>
            @Html.DisplayName("Stav objednávky")
        </th>
        <th>
            @Html.DisplayName("Datum objednání")
        </th>
        <th>
            @Html.DisplayName("Datum zapůjčení")
        </th>
        <th>
            @Html.DisplayName("Datum navrácení")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Podrobnosti", "Details", new { id = item.ID }) |
                @Html.ActionLink("Smazat", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
Stránka @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) ze @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

