@model PujcovnaKnih.Models.Orders

@{
    ViewBag.Title = "Objednávka";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<h2>Shrnutí objednávky</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt class="dl-horizontal">
            @Html.Label("ID knihy")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookID)
        </dd>
        <dt class="dl-horizontal">
            @Html.Label("Titul knihy")
        </dt>
        <dd>
            @ViewBag.BookName
        </dd>
        <dt>
            @Html.Label("ID zákazníka")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>
        <dt>
            @Html.Label("Datum objednání")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
    </dl>
</div>
<p>
    <input type="button" value="Půjčit si" onclick="@("window.location.href='" + @Url.Action("CompleteOrder", "Orders", new { bookId=Model.BookID, customerId=Model.CustomerID, orderDate=Model.OrderDate}) + "'");" class="btn btn-default" />
</p>
<br />
<div>
    <form action="/Books">
        <input type="submit" value="Zpět" class="btn btn-default" />
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}