@model IEnumerable<PujcovnaKnih.Models.Orders>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<h2>Půjčené knihy</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ID Zákazníka")
        </th>
        <th>
            @Html.DisplayName("ID Knihy")
        </th>
        <th>
            @Html.DisplayName("Datum objednání")
        </th>
        <th>
            @Html.DisplayName("Datum zapůjčení")
        </th>
        <th>
            @Html.DisplayName("Datum navrácení")
        </th>
        <th>
            @Html.DisplayName("Možnost vrácení")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @if(item.BorrowDate != null && item.ReturnDate == null)
                {
                <input type="button" value="Vrátit knihu" onclick="@("window.location.href='" + @Url.Action("ReturnBook", "Orders", new { id=item.BookID}) + "'");" />
                }
            </td>
        </tr>
    }

</table>
